:root {
  --navbar-height: 3.125rem;
  --content-width: 48rem;
  --content-vertical-padding: 1.5rem;
  --content-padding: 1.5rem;
  --content-calculated-padding: max(
    var(--content-padding),
    calc((100% - var(--content-width)) / 2)
  );

  --primary-color: #7cefc0;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
}

p {
  line-height: 1.5em;
  margin-bottom: 15px;
  font-size: 1em;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.7rem;
  font-weight: 900;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.1rem;
  font-weight: 900;
  margin-bottom: 15px;
  margin-top: 40px;
}

img {
  max-width: 100%;
}

main {
  > section {
    margin: 0;
    padding: var(--content-vertical-padding) var(--content-calculated-padding);
    position: relative;
  }
  a {
    color: #2ec598;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.headerimg img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

hr {
  border: none;
  height: 2px;
  background: #ddd;
  margin: 4.5rem 0;
}
